<!-- THIS IS WHERE YOUR BUCKIT IS VISUALLY DISPLAYED -->
<h3>FUCKIT BUCKIT</h3>

<!-- NAME OF BUCKIT -->
<!-- DISPLAYS BUCKIT AND CONTRIBUTION MADE BY USERS, VISUALLY -->

<!--ENTAILS AN AUTO GENERATER OF COLORS TO ASSIGN TO INDIVIDUAL USERS. -->

<form action="/buckit_home" method="post">
      <input type="text" name="user_name" value="fuck_bucks">
</form>
