<!--CREATE BUCKIT / SET UP PROFILE  -->
<h3>Case of the fuckits? Put it in a buckit!</h3>


<!-- CREATING A BUCKIT -->
  <!-- BUCKIT NAME -->
  <!--INCENTIVE -->
  <!-- DURATION -->
  <!--INVITE FRIENDS  -->
  <!-- CREATE BUTTON -->
<form action="/createbuckit" method="post">
    <input type="text" name="buck" placeholder="Buckit name">
    <input type="submit"></input>
</form>


<!-- SEARCH FOR AN EXISTING BUCKIT -->
<form action="/buckit_setup" method="post">
  <input type="text" name="name" placeholder="Search existing buckits">
  <input type="submit"></input>
</form>


<!-- SETTING UP A PROFILE -->
  <!-- CHOOSE AN AVATAR -->
  <!--OR...UPLOAD AN IMAGE -->
  <!-- IMAGE API FOR COOL AVATARS -->
