<!-- THIS IS WHERE YOUR BUCKIT IS VISUALLY DISPLAYED -->
<h3>FUCKIT BUCKIT</h3>

<!-- NAME OF BUCKIT -->
<!-- DISPLAYS BUCKIT AND CONTRIBUTION MADE BY USERS, VISUALLY (actual buckit with images in it) -->

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
<form>
  <div class="row">
    <div class="six columns">

      <div id="thebuckit" class="">
        <img src="http://i.imgur.com/E7GUnhE.png" height="300" width="275" />
        <input type="submit" class="btn btn-block btn-primary" value="Fuck Buck"/>
        <!-- <input type="button" name="fuck buck" value="Buckup" width="300" height="600"> -->
        <!-- <button name="fuck buck" value="Buckup" style="height:100px;width:200px"></button> -->
      </div>

    </div>
</form>
</body>
</html>
