<!-- THIS IS WHERE YOUR BUCKIT IS VISUALLY DISPLAYED -->


<script src="/scripts/app.js"></script>


<h3>FUCKIT BUCKIT</h3>

<!-- NAME OF BUCKIT -->
<!-- DISPLAYS BUCKIT -->

  <div class="row">
    <div class="six columns">

      <div id="thebuckit" class="">
        <img src="http://i.imgur.com/ldCWaQn.png" height="300" width="275" />
        <form action="/addfuck" method="post">
          <input formaction="/addfuck" type="button" id="buckbutton" name="name" value="Fuck Buck">
        </form>

      </div>
    </div>
  </div>
</body>
</html>
