<!-- THIS IS WHERE YOUR BUCKIT IS VISUALLY DISPLAYED -->
<h3>FUCKIT BUCKIT</h3>

<!-- NAME OF BUCKIT -->
<!-- DISPLAYS BUCKIT AND CONTRIBUTION MADE BY USERS, VISUALLY (actual buckit with images in it) -->

<!-- <form action="/buckit_home" method="post">
      <input type="text" name="user_name" value="fuck_bucks">
</form> -->
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
<form>
  <div class="row">
    <div class="six columns">
      <!-- the id for user_name needs to be inherited somehow -->
      <input class="u-full-width" type="text" placeholder="" id="user_name">

<div id="thebuckit" class="">
  <img src="http://i.imgur.com/E7GUnhE.png" height="300" width="275" />

</div>

    </div>
</form>
</body>
</html>
