<!-- THIS IS WHERE YOUR BUCKIT IS VISUALLY DISPLAYED -->
<h3>FUCKIT BUCKIT</h3>

<!-- NAME OF BUCKIT -->
<!-- DISPLAYS BUCKIT AND CONTRIBUTION MADE BY USERS, VISUALLY (actual buckit with images in it) -->

  <div class="row">
    <div class="six columns">

      <div id="thebuckit" class="">
        <img src="http://i.imgur.com/ldCWaQn.png" height="300" width="275" />
        <form action="/addfuck" method="post">
          <input formaction="/addfuck" type="submit" class="btn btn-block btn-primary" value="Fuck Buck"/>
        </form>

      </div>
    </div>
  </div>
