<html>
  <head>
    <title>Fuckit Buckit</title>
    <link rel="stylesheet" href="/style/main.css">
    <script type="text/javascript" src="/scripts/app.js"></script>
  </head>

  <body>
    <h1>Fuckit Buckit</h1>
    <em>The social accountability bucket you need in your life. Case of the fuckits? Put it in a buckit!</em>
    <p>
      How many times in a day do you just not give a fuck? The fuckit buckit is a user friendly, communal, money bucket that allows you and a group of people to help keep each other accountable for your behavior. Set a goal and help each other achieve it so we can all live amongst one less asshole. Get as creative as you would like with your goals for all occasions. Whether it be your fantasy football league, your bridal party, a spouse, or your co-workers, etc. Start giving a fuck about your own behavior!
    </p>

    <input type="button" value="Start giving a fuck!"></input>
    <hr>

    <%= yield %>

    <hr>
    &copy 2015-2016 FuckBucks. A division of LiLa Chicago.
  </body>

</html>
