<h3>To start giving a fuck</h3>

<p>
  <em>Start giving fuck bucks. Already registered? Fuck, yeah!</em>
</p>

<!-- make a form for new user and existing user-->
<!--2 seperate tables. 1 for new_user and 1 for existing_user  -->

<form action="/signin" method="post">
  <!-- This is for a new user -->
  <input type="text" name="name" placeholder="Name">
  <input type="text" name="user_name" placeholder="Username">
  <input type="email" name="user_email" placeholder="E-mail Address">
  <input type="password" name="password" placeholder="password">
  <input type="password" name="password" placeholder="confirm password" >
  <input type="submit"></input>
</form>



<form action="/signin" method="post">
  <!--This is for an existing user  -->
  <input type="text" name="user_name" placeholder="Username">
  <input type="password" name="password" placeholder="Password" >
  <input type="submit"></input>
</form>
