<h3>Create Task</h3>

<p>
  <em>What don't you really want to do?</em>
</p>

<form action="/create" method="post">
  <input type="text" name="name" placeholder="Something you loathe">
  <input type="text" name="desc" placeholder="Why it sucks so much">
  <input type="submit">Create Task</input>
</form>
