

<h3>To start giving a fuck</h3>

<p>
  <em>Start giving fuck bucks. Already registered? Fuck, yeah!</em>
</p>

<!-- make a form for new user and existing user-->
<!--2 seperate tables. 1 for new_user and 1 for existing_user  -->



<div id="register">
<div>
<div>

    <form action="/account/register" method="post">
      <!-- This is for a new user -->
    </div>
      <div>
      <label for="text">Name</label>
        <input type="text" name="name" placeholder="Name">
        </div>
        <div>
      <label for="text">Username</label>
        <input type="text" name="user_name" placeholder="Username">
      </div>
      <div>
      <label for="email">Email Address</label>
        <input type="email" name="user_email" placeholder="E-mail Address">
      </div>
      <div>
      <label for="password">Password</label>
        <input type="password" name="password" placeholder="password">
      </div>
      <div>
      <label for="password">Confirm Password</label>
        <input type="password" name="password" placeholder="confirm password" >
      </div>
      <div>
      <input type="submit"></input>
    </div>
    </form>

</div>



<div id="signin">
<div>
  <div>
    <form action="/account/login" method="post">
  </div>
  <!--This is for an existing user  -->

  <div>
    <label for="text">Username</label>
    <input type="text" name="user_name" placeholder="Username">
    </div>

  <div>
    <label for="password">Password</label>

    <input type="password" name="password" placeholder="Password" >
  </div>
      <div>
    <input type="submit"></input>
  </div>
</form>
</div>
