<h3>To start giving a fuck</h3>

<p>
  <em>Register below. Already registered? Login!</em>
</p>

<!-- make a form for new user and existing user-->
<!--2 seperate tables. 1 for new_user and 1 for existing_user  -->

<!-- <form action="/signin" method="post">
  <input type="text" name="name" placeholder="Something you loathe">
  <input type="text" name="desc" placeholder="Why it sucks so much">
  <input type="submit"></input>
</form> -->
